@charset "uTF-8";
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root{
    /*   gradients
    - Light slate blue (background): hsl(252, 100%, 67%)
    - Light royal blue (background): hsl(241, 81%, 54%)   
    - Violet blue (circle): hsla(256, 72%, 46%, 1)
    - Persian blue (circle): hsla(241, 72%, 46%, 0)
    */

    --lightred: #ff5757;
    --Orangeyyellow: #ffb01f;
    --Greenteal: #00bd91;
    --Cobaltblue: #1125d4;


    --White: #ffffff;
    --Paleblue: #ebf1ff;
    --Lightlavender: #c8c7ff;
    --Darkgrayblue: #303b5a;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Hanken Grotesk;
}
p{
    font-size: 18px
}
body{
    width: 100vw;
    height: 100vh;
    background: var(--Paleblue); 
}
main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    text-align: center;
}

main .div-result{
    width: 100vw;
    min-height: 300px;
    background: linear-gradient(hsla(241, 79%, 59%, 0.842),hsl(241, 81%, 54%)  );
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 0 0 25px 25px; 
}
.number-result{
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: linear-gradient(hsla(241, 84%, 52%, 0.842),hsl(241, 74%, 59%)  );
}
.div-result p{
    color: var(--Lightlavender);
    font-size: 16px;
    font-weight: lighter;
}
.div-result h1{
    color: var(--White);
    font-size: 3.5em;
}
.div-result h2{
    color: var(--White);
    letter-spacing: 0.1;
}
.div-result h3{
    color: var(--Lightlavender);
    font-weight: lighter;
}
main .div-summary{
    width: 100vw;
    min-height: 300px;
    padding: 20px;
}

.div-summary