@charset "UTF-8"; 

:root{
    --white: white;
    --black: black;
    --verde: #5fac8f;
    --lilas: #6f49a0;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html, body{
    background-color: var(--lilas);
    height: 100vh;
    width: 100vw;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

section#login{
    background-color: var(--white);
    height: 500px;
    width: 250px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.644);
    overflow: hidden;
}

div#img{
    display: block;
    background-image: url(../imagens/teclado.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 200px;
}
div#form{
    display: block;
    padding: 10px;
}
div#form h1{
    padding-bottom: 5px;
}
div#form p{
   padding-bottom: 10px;
}